.head {
    color: #37c8e5;
}

.title {
    margin-left: 140px;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.color2 {
    color: #37c8e5;
}

.color3 {
    position: absolute;
    background: #babec4;
    height: 650px;
    width: 19%;
    left: 945px;
    top: 65px;
}

.text3 {
	text-align: center;
	margin-top: 90px;
	font-size: 33px;
	font-weight: bold;
}

.image {
    position: relative;
}

.float {
    float: left;
    margin-top: 10px;
}

.move {
    margin-left: 20px;
    margin-bottom: 20px;
}

.paragraph {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.float2 {
    float: right;
    margin-bottom: 800px;
}

.header3 {
    margin-left: 950px;
    position: absolute;
    margin-top: 20px;
    background-attachment: fixed;
}


.color {
    background: #cacdd1;
    height: 300px;
}

.space {
    margin-top: 20px;
}

.radius {
	background: black;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.text4 {
	color: #9398a0;
	margin-top: -10px;
	margin-left: 20px;
	font-size: 24px;
}

h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.row {
	display: flex;
	justify-content: space-around;
}
