<<<<<<< HEAD
.head {
    color: #37c8e5;
}

.title {
    margin-left: 140px;
}

.header2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    font-family: Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.color2 {
    color: #37c8e5;
}

.color3 {
    position: absolute;
    background: #babec4;
    height: 650px;
    width: 19%;
    left: 945px;
    top: 65px;
}

.text3 {
	text-align: center;
	margin-top: 90px;
	font-size: 33px;
	font-weight: bold;
}

.image {
    position: relative;
}

.float {
    float: left;
    margin-top: 10px;
}

.move {
    margin-left: 20px;
    margin-bottom: 20px;
}

.paragraph {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.flex {
    display: flex;
    flex-direction: column;
}

.float2 {
    float: right;
    margin-bottom: 800px;
}

.header3 {
    margin-left: 950px;
    position: absolute;
    margin-top: 20px;
    background-attachment: fixed;
}


.color {
    background: #cacdd1;
    height: 300px;
}

.space {
    margin-top: 20px;
}

.radius {
	background: black;
	border-radius: 100px;
	height: 150px;
	width: 150px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: stretch;
}

.text4 {
	color: #9398a0;
	margin-top: -10px;
	margin-left: 20px;
	font-size: 24px;
}

h4 {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	margin-bottom: 10px;
}

.row {
	display: flex;
	justify-content: space-around;
}
=======
.main-menu ul {
	list-style: none;
}

.links li {
	display: inline;
	padding-right: 40px;
}

.links li a {
	color: #b2a6a1;
}

.links li.selected a {
	color: #687ba7;
}

.links li img {
	display: inline-block;
	height: 14px;
	width: 14px;
	margin-bottom: 5px;
}

.links li.end-item {
	padding-right: 5px;
}

.cta {
	height: 487px;
	padding: 0;
	background: url('../img/background-img.jpg');
}
.header p {
	margin-bottom: 0px;
}
.header {
	padding: 50px 0 0 250px;
	color: #ffffff;
	font-size: 46px;
	font-weight: 600;
}

.text-banner p {
	margin-top: 10px;
	padding-left: 7px;
}

.text-banner {
	text-align: center;
	padding-left: 120px;
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	width: 700px;
}

.call-to-act {
	margin-left: 250px;
}

.butn-primary {
	margin-top: 30px;
    color: #fff;
    background-color: #6279af;
    border-color: #2e6da4;
}

.butn {
	display: inline-block;
    padding: 8px 55px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.seen {
	padding-left: 90px;
	padding-top: 10px;
	font-weight: 500;
}
.media {
	margin: 15px 50px 15px 20px;
	background: #d1c8c1;
	color: #918c87;
	text-align: center;
	padding: 2px 0;
}

.seen p {
	font-size: 14px;
	font-weight: 600;
}

.media p {
	font-size: 18px;
	margin: 5px 0;
}
.container-fluid{
	padding: 0;
}


/* Style for part4-6*/ 

.text{
	text-align: center;
	font-size: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
}
.blue{
	color:lightblue;
}
.part5 img{
	float: left;
	margin-right: 10px;
}
.forimg{
	margin-top: -20px;
}
.forimg p{
	margin-top: -15px;
}
.botcol{
	margin-top: 40px;
}
.part6{
	background-color: black;
	color:white;
	margin-top: 40px;
}
.part6 p{
	margin-top: -10px;
}
.part6 .text{
	margin:20px 0;
}
.part6 .oldent{
	margin:30px 0 10px 0;
}
.part6 .oldent .col-md-12{
	padding-left: 0
}
.part6 button{
	background: black;
	color:lightblue;
	font-size: 20px;
	border: 2px solid lightblue;
	padding:5px  10px;
	margin:20px 0 40px 0;
}

.part4{
	background: lightblue;
	color:white;
	font-size: 16px;
}
.part4 img{
	margin-bottom: 50px;
	margin-right: 20px;

}
.part4 p{
 margin-top: 32px;
}
.part4 ul {
	padding-left:18px;
}
>>>>>>> origin/develop
